{% extends 'nagoyaka/base.html' %}
{% load static %}

{% block content %}
<section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/img/IMG_staff0-2.jpg' %}" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">info</span>
                            <span class="section-heading-lower">TAP_NAGOYAKAについて</span>
                        </h2>
                        <p class="mb-3">TAP_NAGOYAKAは、自主学習グループでの活動であり、タップ交流の場です。初心者、子供さんからインストラクターのレベルの方まで愛知県内の方々がタップの練習のために集まってくれます。その中で、みんなでできるステップを私が提供しています。インストラクターレベルの方にはその場で振り付けや指導も行っていただける場でもあります。仲間同士お互い教え、伝え合って初心者の方こそ、仲間探しのためにも来ていただきたいところです。

                        スタッフが提供するレッスンでは、体のバランスを整えて行き体に良い動きを目指してステップを踏んでいくので、膝に負担のないよう椅子を使うこともできます。
</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Visit Us Today!</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper"></span>
                                <span class="section-heading-lower">主な活動の場</span>
                            </h2>
                            <p class="mb-0">
                            私どもTAP_NAGOYAKAの主な活動場所は名古屋演劇練習館(アクテノン)です。稲葉地公園内にあります。部屋は２階の小練習室３です。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>





{% endblock %}

    